{% extends "base.html" %}
{% load static %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block topbar_actions %}
    <nav class="tm-subnav">
        <a href="{% url 'scheduller' %}" class="tm-subnav-link {% if request.resolver_match.url_name == 'scheduller' %}is-active{% endif %}">Schedule</a>
        <a href="{% url 'routine' %}" class="tm-subnav-link {% if request.resolver_match.url_name == 'routine' or request.resolver_match.url_name == 'edit_routine' %}is-active{% endif %}">Routines</a>
        <a href="{% url 'goals' %}" class="tm-subnav-link {% if 'goal' in request.resolver_match.url_name|default:'' %}is-active{% endif %}">Goals</a>
        <a href="{% url 'add_event' %}" class="tm-subnav-link {% if request.resolver_match.url_name == 'add_event' %}is-active{% endif %}">Events</a>
    </nav>
{% endblock %}
